<tr>
	<td class="micropost">
		<span class="content">
			<%= render :partial => 'shared/vote', :locals => {:votable => link}  %>
			<a href="<%= link.full_url %>"><%= link.headline %></a>
		</span>
		<%= render :partial => 'shared/meta', :locals => {:item => link} %>
	</td>	
</tr>